      <!-- INÍCIO DO CONTEÚDO -->
      <section class="content-header">
        </section>
  
        <section class="content">
  
          <div class="jumbotron welcome-jumbotron" style="background-color: rgba(10,23,55,0.01);">
             <h1>Bem vindo ao Meat!</h1>
             <p>
               Está com fome? Peça e receba em casa.
             </p>
             <a class="btn btn-primary btn-lg" [routerLink]="['/restaurants']">Ver Restaurantes</a>
          </div>
  
        </section>
        <!-- FIM DO CONTEÚDO -->